
services:
  backend:
    build:
      context: .
      dockerfile: backend.Dockerfile
    container_name: go-backend
    ports:
      - "8080:8080"
    volumes:
      - ./backend:/app
    environment:
      - GIN_MODE=debug
    command: air -c .air.toml

  frontend:
    build:
      context: .
      dockerfile: fontend.Dockerfile
    container_name: myportfolio-frontend
    ports:
      - "5173:80"
    depends_on:
      - backend