
services:
  backend:
    build:
      context: .
      dockerfile: backend.Dockerfile
    container_name: go-backend
    ports:
      - "8080:8080"
    volumes:
      - ./backend:/app
    environment:
      - GIN_MODE=debug
    command: air -c .air.toml

  frontend:
    build:
      context: .
      dockerfile: frontend.Dockerfile
    container_name: myportfolio-frontend
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "5173:5173"
    environment:
      - CHOKIDAR_USEPOLLING=true
    depends_on:
      - backend