.about-container {
  width: 100%;
  text-align: center;
  font-family: sans-serif;
}

/* Scroll down bar */
.toggle-bar {
  background-color: #c2ccd4;
  color: rgb(66, 17, 8);
  border: none;
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s ease;
}

.toggle-bar:hover {
  background-color: #2bc7b2;
}

/* Hidden by default */
.about-content {
    display: flex;
    flex-direction: column;
    align-self: start;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: all 0.4s ease;
    background: #d7dde0;
    border-radius: 0 0 8px 8px;
    margin-top: 6px;
    padding: 0 16px;
     text-align: left;
}

/* Show when open */
.about-content.open {
  max-height: 200px; /* enough space for your content */
  opacity: 1;
  padding: 16px;
}
