
.avatar-card {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    background: white;
    border-radius: 12px;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
    padding: 1rem 1.5rem;
    width: 100%;
    height: 40%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.avatar-image {
    width: 50%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.info-section {
    display: flex;
    padding-top: 5rem;
    flex-direction: column;
    align-items: left;
    gap: 0.5rem;
    flex: 2;
}
.name-text {
    font-size: 3rem;
    color: #035153;
    font-weight: bold;
    font-style: oblique;
}
.role-text {
    font-size: 1rem;
    color: #303d7e;
    font-weight: lighter;
    font-style: italic;
}

.birth-text {
    font-size: 1rem;
    color: #1e40af;
    font-weight: bold;
} 

.phone-text {
    font-size: 1rem;
    color: #1e40af;
    font-weight: bold;
}

.facebook-text {
    font-size: 1rem;
    color: #1e40af;
    font-weight: bold;
}

/* Responsive tweak for mobile */
@media (max-width: 600px) {
  .avatar-card {
    width: 100%;
    height: 40%;
  }
  .avatar-image {
    width: 50%;
    height: 90%;
  }

}