.header {
  width: 100%;
  position: relative;
  padding: 1rem;
  text-align: center;
  background-color: #cdd6ee;
  color: white;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

.header h1 {
  font-size: 1.5rem;
  margin: 0;
}
