.music-player {
    position: fixed;
    bottom: 20px;
    /* right: 20px; */
    background: #ffffff00;
    color: white;
    border-radius: 8px;
    padding: 0.5rem 1rem;
}

.music-player button {
    border: none;
    background: transparent;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}
